/*Name: Hattie Miller
Date: 11/15/2023
File: template.css*/

/*CSS reset style rule*/
h1, image, nav, body, main, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* CSS Reset */

/*HEADER SECTION*/
 h1 {
  font-size: 3em;
  font-family: 'Tangerine', cursive;
  padding: 3%;
  color: #373d20;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;

image {
  display: block;
  max-width: 100%;
}

}

/*NAVIGATION SECTION*/
nav {
  background-color: #373d20;
  list-style-type: none;
  float: left;
  clear: left;
  border-radius: 5px;
  
}

/*BODY SECTION*/
body {
    padding: 2%;
    background-color: #717744;

image { 
    max-width: 100%;
    display: block;
}

}

/*MAIN SECTION*/
main {
    padding: 2%;
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
    text-align: center;
    border-radius: 5px;

image {
  display: block;
  max-width: 100%;
}

}

/* Mobile Style Rules */

/*FOOTER SECTION*/
footer { 
}  
