/*Name: Hattie Miller
Date: 11/15/2023
File: template.css*/

/*CSS reset style rule*/
h1, image, nav, body, main, footer, col, section, figure, figcaption, .container {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* CSS Reset */

/*HEADER SECTION*/
 h1 {
  font-size: 3em;
  font-family: 'Tangerine', cursive;
  padding: 3%;
  color: #373d20;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  text-shadow: 0 0 5px black;

image {
  display: block;
  max-width: 100%;
}

  h2 {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 3%;
  }

}

/*NAVIGATION SECTION*/
nav {
  background-color: #373d20;
  list-style-type: none;
  float: left;
  clear: left;
  border-radius: 5px;
  
  
}



/*BODY SECTION*/
body {
    padding: 2%;
    background: linear-gradient(0deg, #373d20, #717744);

image { 
    max-width: 100%;
    display: block;
}

}

/*MAIN SECTION*/
  main {
    padding: 2%;
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
    text-align: center;
    border-radius: 5px;
    background-color: white;

  image {
  display: block;
  max-width: 100%;
}

.container {
  background-color: white;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  opacity: 80%;
}

}

/* Mobile Style Rules */
nav {
  background-color: #373d20;
  list-style-type: none;
  float: left;
  clear: left;
  border-radius: 5px;
  
}

body {
  text-align: right;
}

/* Tablet Media Query */
@media (max-width: 1000px) {
   
   nav li a:hover {
      color: #373d20;
      background-color: #fff;
   }

  .col-content{
    width: 25%;
    float: left;
    padding: 1.5%;
    background-color: #373d20;    
    border-radius: 5px;
    overflow: hidden;
    column-gap: 2px;
    column-fill: 80%;
    
    
  }

}

/* Desktop Media Query */
@media (min-width: 1600px) {
  
  nav li a:hover {
      color: #373d20;
      background-color: #fff;
  }

  .col-content{
    width: 25%;
    float: left;
    padding: 1.5%;
    background-color: #373d20;
    border-radius: 5px;
    overflow: hidden;
    column-gap: 2px;
    column-fill: 80%;
   
    
  }
 
}


/* Large desktop Media Query */
@media (min-width: 2000px) {

  nav li a:hover {
      color: #373d20;
      background-color: #fff;
  }

  .col-content{
    width: 25%;
    float: left;
    padding: 1.5%;
    background-color: #373d20;
    border-radius: 5px;
    overflow: hidden;
    column-gap: 2px;
    column-fill: 80%;
  
   
    
  }

}

/* Print Media Query */
@media print {

nav li a:hover {
      color: #373d20;
      background-color: #fff;
}

  .col-content{
    width: 25%;
    float: left;
    padding: 1.5%;
    background-color: #373d20;
    border-radius: 5px;
    overflow: hidden;
    column-gap: 2px;
    column-fill: 80%;
    
   
    
  }

}

/*FOOTER SECTION*/
footer { 
  background-color:white;
}  
